<!DOCTYPE html>
<html lang="en">
<head>
    <title>Заказ еды</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- //for-mobile-apps -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- js -->
    <script src="../../static/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <!-- radio-buttons -->
    <link rel="stylesheet" href="../../static/css/sky-forms.css">
    <!-- //radio-buttons -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,900,800' rel='stylesheet'
          type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
</head>
<body>
    <!-- ui-kit -->
    <div class="ui-kit">
        <div class="container">
            <h1><i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i><span>Order</span>List</h1>
            {% if user.is_authenticated %}
                {{ form }}
                <table class="order_list">
                    <thead>
                    <tr>
                        <td class="order_list">Product</td>
                        <td class="order_list">Count</td>
                        <td class="order_list">Summary</td>
                        <td class="order_list">Comment</td>
                        <td class="order_list">User</td>
                        <td class="order_list">email</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in order_list %}
                        <tr>
                            <td class="order_list"><a href="{{ item.get_change_url }}">{{ item.name_product }}</a></td>
                            <td class="order_list">{{ item.count }}</td>
                            <td class="order_list">{{ item.summary }}</td>
                            <td class="order_list">{{ item.comment }}</td>
                            <td class="order_list">{{ item.user }}</td>
                            <td class="order_list">{{ item.email }}</td>
                        </tr>
                    {% endfor %} <!--order list end-->
                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="order_list">Total:</td>
                        <td class="order_list">{{ total_count }}</td>
                        <td class="order_list">{{ total }}</td>
                        <td class="order_list"></td>
                        <td class="order_list"></td>
                        <td class="order_list"></td>
                    </tr>
                    </tfoot>
                </table>

{#                <div class="login-form1">#}
                    <form>
                    <input type="submit" formaction="{% url 'logout' %}?next={{ request.path }}" value="LOGOUT">
                    </form>
{#                </div>#}
            {% endif %}
        </div>
    </div>
    </div>
    <!-- //ui-kit -->
</body>

</html>
