{% extends 'base.html' %}
{#///////////////////////////////////////////////////////////////////////////////////////////////////////////////////#}
{#    Меню  #}
{#///////////////////////////////////////////////////////////////////////////////////////////////////////////////////#}
{% block menu_and_order %}

{# order_list должен быть виден только в админке   #}
{# без авторизации надо показывать меню (список продуктов)   #}
    {% for item in product_list %}
        <li><a href="#"><i class="glyphicon glyphicon-user" aria-hidden="true"></i>{{ item.name_product }} | {{ item.price }}</a></li>
    {% endfor %}

{% endblock menu_and_order %}


