{% extends 'base.html' %}
{#///////////////////////////////////////////////////////////////////////////////////////////////////////////////////#}
{#    Меню  #}
{#///////////////////////////////////////////////////////////////////////////////////////////////////////////////////#}
{% block menu_and_order %}

{# order_list должен быть виден только в админке   #}
{# без авторизации надо показывать меню (список продуктов)   #}
    {% for item in product_list %}
        <li>
            <a href="#">
{#                <i class="glyphicon glyphicon-unchecked">#}
{#                </i>#}
                <i class="glyphicon">
                    <input type="checkbox" name="product_uid" value={{ item.slug }}>
{#                    <input type="checkbox" name="{{ item.name_product }}" value="{{ item.name_product }}">#}
                </i>
                {{ item.name_product }} | <i>price: {{ item.price }} byn</i>
                <span >
                    <input class="product_count" type="text" name="count" value=1>
{#                    <input class="product_count" type="text" name="count" placeholder=1>#}
                </span>
            </a>
        </li>
    {% endfor %}

{% endblock menu_and_order %}


